[Unit]
Description=First Boot Service
After=network.target
After=ssh.service

[Service]
ExecStart=/bin/bash /firstboot.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
